body {
    background: #1a202c !important;
    color: #e7e8f2 !important;

}


#table-cursos {
    color: #1a202c;
    font-weight: 700;
}

.button-list {
    background: #ff2d20;
    color: #e7e8f2 !important;

}

.card-Cursos{
    background: #e7e8f2 !important;
    color: #1a202c;
}


#Modal-cursos,#Modal-aluno {
    color: #1a202c;
}

#cursos-container {
    height:100vh;
}



.excluir {
    color: #ff2d20;
}


.recuperar {
    color:#690;
}
